<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active" style="color: black;">Chi tiết sản phẩm</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area" *ngFor="let item of item">
            <div class="col-lg-5 col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-1">
                        <div class="lg-image" style="width: 470px;padding-top: 95px;">
                            <a class="popup-img venobox vbox-item" href="" data-gall="myGallery">
                                <img src="{{item.anh}}" alt="product image">
                            </a>
                        </div>                        
                    </div>

                </div>
                <!--// Product Details Left -->
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-60">
                    <div class="product-info">
                        <h2>{{item.tensp}}</h2>
                        <h2 style=" color: black; padding-left: 150px;">Thông số sản phẩm</h2>
                        <div class="col-lg-10 col-md-6">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="li-product-remove"><a href="#"><i >Màn hình</i></a></td>
                                            <td class="li-product-thumbnail">
                                                <a href="#">{{item.manhinh}}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="li-product-remove"><a href="#"><i >Hệ điều hành</i></a></td>
                                            <td class="li-product-thumbnail">
                                                <a href="#">{{item.chip}} </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="li-product-remove"><a href="#"><i >Camera sau</i></a></td>
                                            <td class="li-product-thumbnail"> <a href="#">{{item.camerasau}}</a> </td>
                                        </tr>
                                        <tr>
                                            <td class="li-product-remove"><a href="#"><i >Camera trước</i></a></td>
                                            <td class="li-product-thumbnail"> <a href="#">{{item.cameratruoc}}</a> </td>
                                        </tr>
                                        <tr>
                                            <td class="li-product-remove"><a href="#"><i >Chip</i></a></td>
                                            <td class="li-product-thumbnail"> <a href="#">{{item.sim}}</a> </td>
                                        </tr>
                                        <tr>
                                            <td class="li-product-remove"><a href="#"><i >RAM</i></a></td>
                                            <td class="li-product-thumbnail"> <a href="#">{{item.ram}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="price-box pt-20">
                            <span class="new-price new-price-2">Giá tiền:{{item.giatien |number}}đ  </span>
                            <span class="new-price new-price-2" style="text-decoration: line-through;color: #c8d0d6;">{{item.giatien |number}}đ  </span>
                        </div>

                        <div class="single-add-to-cart">
                            <form action="#" class="cart-quantity">

                                <button (click)="_addToCart(item)" class="add-to-cart" type="submit">Thêm vào giỏ hàng</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->

<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50 ">
    <div class="container ">
        <div class="row ">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12 ">
                <div class="li-section-title ">
                    <h2>
                        <span>Các sản phẩm liên quan</span>
                    </h2>
                </div>
                <div class="row ">
                    <div class="product-active owl-carousel ">
                        <div class="col-lg-12" *ngFor="let item of splienquan" >
                            <!-- single-product-wrap start -->
                            <div class=" single-product-wrap " style="width: 206px;">
                                <div class="product-image ">
                                    <a href="single-product.html " >
                                        <img src="{{item.anh}} " alt="Li 's Product Image" >
                                    </a>                                    
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">                                        
                                        <h4><a class="product_name" [routerLink]=" [ '/chitiet',item.maSp]">{{item.tensp}}</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">{{item.giatien|number}}đ</span>
                                            <span class="old-price">{{item.giaKm|number}}đ</span>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#">Thêm giỏ hàng </a></li>                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->
<!-- Begin Footer Area -->